@import "tailwindcss";
:root {
  --font-michroma: var(--font-michroma);
  --font-orbitron: var(--font-orbitron);
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-michroma); /* ✅ Ahora usa la variable de Next Font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*Brillitoa*/
.sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(224, 247, 22);
  border-radius: 50%;
  opacity: 0.7;
  animation: sparkle 3s infinite ease-in-out;
}

@keyframes sparkle {
  0% { transform: scale(0); opacity: 0; }
  50% { transform: scale(1.5); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}

h1, h2, h3 {
  font-family: var(--font-orbitron);
  font-weight: 900;
  color: #96d2f5;
  font-size: 2rem;
}

@keyframes shake {
  0%, 100% { transform: rotate(-3deg); }
  50% { transform: rotate(3deg); }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite;
}

/* boton */
.btn-mapa {
  background-color: #c9b6e7; /* lila bebé */
  color: white;
  padding: 0.75rem 1.5rem; /* px-6 py-3 */
  border-radius: 0.75rem; /* rounded-lg */
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s;
  display: inline-block;
  text-align: center;
}

.btn-mapa:hover {
  background-color: #8247e7; /* lila un poco más oscuro */
  transform: scale(1.05);
}


/* HeroTitle específico */
.hero-title h1 {
  font-size: 4rem; /* tamaño del h1 */
  margin-bottom: 2rem; /* espacio debajo */
}

.hero-title h2 {
  font-size: 3rem; /* tamaño del h2 */
  margin-bottom: 2rem;
}

.hero-title h3 {
  font-size: 2.25rem; /* tamaño del h3 */
  margin-bottom: 2rem;
}

/* Si quieres más separación entre todos los h's */
.hero-title h1,
.hero-title h2,
.hero-title h3 {
  line-height: 1.2; /* altura de línea para mayor separación */
}
